@import '@styles/base';

.heroContainer {
  //   padding-left: 10vw;
  // @include container;
  @include directionX;
  // padding-top: 12vh;
  // padding-bottom: 10vh;
  width: 100%;
  min-height: 100vh;
  box-sizing: content-box;
  //   background: red;
}

.hero {
  width: 100%;
  @include directionX;
  column-gap: 3rem;
  // @include container;
  justify-content: center;
  align-items: center;

  @include apply-at-lg-size {
    @include directionY;
    flex-direction: column-reverse;
    margin-top: 16vh;
    padding-bottom: 16vh;
  }

  @include apply-at-sm-size {
  }
}

.heroLeft {
  width: 60%;
  padding-left: 10vw;
  @include directionY;
  row-gap: 1rem;

  @include apply-at-lg-size {
    width: 100%;
    @include container;
    margin-top: 2rem;
  }
}

.heroRight {
  width: 40%;
  position: relative;
  overflow: hidden;

  @include apply-at-lg-size {
    width: 100%;
    padding-left: 10vw;
    max-height: 40vh;
  }

  img {
    width: 120%;
    object-fit: contain;
    object-position: right;
    height: 100%;
  }
}

.imgHeroCss {
  scale: 2;
}

.text1 {
  font-size: 90px;
  font-weight: 700;
  color: var(--color-text);
  line-height: 7rem;

  @include apply-at-xxl-size {
    font-size: 80px;
  }

  @include apply-at-xl-size {
    font-size: 70px;
  }

  @include apply-at-lg-size {
    font-size: 60px;
    text-align: center;
    line-height: 4.4rem;
  }

  @include apply-at-md-size {
    font-size: 45px;
    line-height: 3.6rem;
  }
  @include apply-at-sm-size {
    font-size: 34px;
    line-height: 2.8rem;
  }
}

.text2 {
  color: var(--color-text-2);
  width: 75%;
  font-size: 20px;
  line-height: 2rem;

  @include apply-at-lg-size {
    width: 100%;
    text-align: center;
  }
}

.btnHero a {
  display: flex;
  background: var(--color-button);
  color: var(--color-text-in-btn);
  padding: 0.8rem 2rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: max-content;
  font-weight: 700;

  @include apply-at-lg-size {
    width: 100%;
    justify-content: center;
  }
}
