@mixin light-theme {
  --color-bg: hsl(0, 0%, 100%);
  --color-bg-2: hsl(0, 0%, 89%);
  --color-text: hsl(260, 8%, 14%);
  --color-text-2: hsl(257, 7%, 63%);
  --color-text-in-btn: white;
  --color-button: hsl(180, 66%, 49%);
  --color-bg-image: hsl(257, 27%, 26%);
  --color-bg-footer: hsl(255, 11%, 22%);

  --color-card: hsl(0, 0%, 100%);
  --color-text2: rgb(211, 117, 107);
  --color-line: rgba(78, 93, 115, 0.781);
  --color-icon-casino: rgb(243, 243, 243);
}

@mixin dark-theme {
  --color-bg-2: rgb(79, 69, 87);
  --color-bg: rgb(57, 54, 70);
  --color-text: rgb(216, 217, 218);
  --color-text-2: hsl(257, 7%, 63%);
  --color-text-in-btn: white;
  --color-button: hsl(180, 66%, 49%);
  --color-bg-image: hsl(257, 27%, 26%);
  --color-bg-footer: hsl(255, 11%, 22%);

  --color-card: rgb(235, 232, 228);
  --color-text2: rgb(211, 117, 107);
  --color-line: rgba(78, 93, 115, 0.781);
  --color-icon-casino: rgb(243, 243, 243);
}
