@import '@styles/base';

.lightTheme {
  box-sizing: border-box;
  width: 100%;
  // height: 100vh;
  @include light-theme;
  @include directionY;
  background-color: var(--color-bg);

  justify-content: center;
  align-items: center;
  // padding: 0 10vw;

  // @include apply-at-xxl-size {
  //   padding: 0 calc(50% - 20vw);
  // }

  // @include apply-at-xl-size {
  //   padding: 0 calc(50% - 24vw);
  // }

  // @include apply-at-lg-size {
  //   padding: 0 calc(50% - 28vw);
  // }

  // @include apply-at-md-size {
  //   padding: 0 calc(50% - 32vw);
  // }

  // @include apply-at-sm-size {
  //   padding: 0 calc(50% - 36vw);
  // }

  // @include apply-at-xs2-size {
  //   padding: 0 calc(50% - 44vw);
  // }
}

.darkTheme {
  box-sizing: border-box;
  width: 100%;
  // height: 100vh;
  @include dark-theme;
  @include directionY;
  background-color: var(--color-bg);
  justify-content: center;
  align-items: center;
  // padding: 0 10vw;

  // @include apply-at-xxl-size {
  //   padding: 0 calc(50% - 20vw);
  // }

  // @include apply-at-xl-size {
  //   padding: 0 calc(50% - 24vw);
  // }

  // @include apply-at-lg-size {
  //   padding: 0 calc(50% - 28vw);
  // }

  // @include apply-at-md-size {
  //   padding: 0 calc(50% - 32vw);
  // }

  // @include apply-at-sm-size {
  //   padding: 0 calc(50% - 36vw);
  // }

  // @include apply-at-xs2-size {
  //   padding: 0 calc(50% - 44vw);
  // }
}
