@import '@styles/base';

.card {
  @include directionY;
  width: 100%;
  row-gap: 2rem;
  background: var(--color-card);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.text {
  color: var(--color-text);
  font-size: 28px;
  text-align: center;

  @include apply-at-lg-size {
    font-size: 24px;
  }

  @include apply-at-sm-size {
    font-size: 20px;
  }

  @include apply-at-xs2-size {
    font-size: 16px;
  }
}

.adviceid {
  color: var(--color-text2);
  font-size: 14px;
  letter-spacing: 0.25em;
  text-transform: uppercase;

  @include apply-at-lg-size {
    font-size: 12px;
  }

  @include apply-at-sm-size {
    font-size: 11px;
  }

  @include apply-at-xs2-size {
    font-size: 10px;
  }
}

.line {
  color: var(--color-line);
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  width: 100%;
  align-items: center;
  column-gap: 0.6rem;
  margin-bottom: 1rem;
}

.boxLineLeft,
.boxLineRight {
  width: 100%;
  position: relative;
}

.lineLeft {
  display: flex;
  height: 1px;
  background: var(--color-line);
  width: 100%;
  transform-origin: right;
  animation: animateLeft 3s linear;
  position: absolute;
  -webkit-animation: animateLeft 3s linear;
}

@keyframes animateLeft {
  0% {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}

.lineRight {
  display: flex;
  height: 1px;
  background: var(--color-line);
  width: 100%;
  transform-origin: left;
  animation: animateRight 3s linear;
  position: absolute;
  -webkit-animation: animateRight 3s linear;
}

@keyframes animateRight {
  0% {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}

.boxIcon {
  width: 100%;
  @include directionX;
  column-gap: 0.3rem;
}

.box1 {
  width: 5px;
  height: 13px;
  background: var(--color-text);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.box2 {
  width: 5px;
  height: 13px;
  background: var(--color-text);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--color-text2);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  position: absolute;
  bottom: calc(-2.5rem / 2);
  // bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-icon-casino);
  font-size: 50px;

  @include apply-at-lg-size {
    width: 2rem;
    height: 2rem;
  }
}

.iconbtn {
  @include apply-at-lg-size {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}

.button:hover,
.button:focus {
  background-color: var(--color-text2);
  box-shadow: var(--color-text2) 0 0px 16px;
}

.button:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.button:active {
  background-color: var(--color-text2);
  box-shadow: var(--color-text2) 0 0px 7px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.rotate {
  animation-name: roll;
  animation-duration: 3s;
  animation-timing-function: linear;
  pointer-events: none;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(800deg);
    -webkit-transform: rotate(800deg);
    -moz-transform: rotate(800deg);
    -ms-transform: rotate(800deg);
    -o-transform: rotate(800deg);
  }
}
