@import '@styles/base';

.statisticContainer {
  width: 100%;
  // height: 100vh;
  background: var(--color-bg-2);
  @include container;
}

.statistic {
  @include directionY;
  width: 100%;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 11vh;

  @include apply-at-lg-size {
    padding-top: 8vh;
  }

  @include apply-at-md-size {
    padding-top: 11vh;
  }
}

.shortlinkBox {
  @include directionX;
  position: absolute;
  background: var(--color-bg-image);
  padding: 3rem 4rem;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  column-gap: 1rem;
  background-image: url('@static/images/bg-shorten-desktop.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  top: calc(-9rem / 2);

  @include apply-at-lg-size {
    padding: 1.5rem;
    top: calc(-6rem / 2);
  }

  @include apply-at-md-size {
    @include directionY;
    row-gap: 1rem;
    top: calc(-11rem / 2);
  }
}

.btnLink {
  //   display: flex;
  width: max-content;
  height: 1rem;
  background: blue;
}

.titleStatistic {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-text);
  margin-top: 8rem;
  width: 100%;
  text-align: center;
}

.subTitleStatistic {
  color: var(--color-text-2);
  width: 30%;
  text-align: center;

  @include apply-at-lg-size {
    width: 70%;
  }
}

.boxCard {
  @include directionX;
  width: 100%;
  column-gap: 2rem;
  position: relative;
  margin-bottom: 3rem;
  align-items: center;

  @include apply-at-lg-size {
    @include directionY;
    margin-top: 4rem;
    row-gap: 5rem;
  }
}

.card {
  width: 100%;
  padding: 2rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background: var(--color-card);
  z-index: 1;
  position: relative;
  flex: 1;

  @include apply-at-lg-size {
    margin-top: 0 !important;
  }
}

.card:nth-child(2) {
  margin-top: 2rem;
}

.card:nth-child(3) {
  margin-top: 4rem;
}

.line {
  display: flex;
  height: 0.6rem;
  background: var(--color-button);
  width: 100%;
  position: absolute;
  top: 50%;
  @include apply-at-lg-size {
    display: none;
  }
}

.lineVertical {
  display: none;

  @include apply-at-lg-size {
    display: flex;
    width: 0.6rem;
    height: 100%;
    background: var(--color-button);
    position: absolute;
    left: calc(50% - 0.3rem);
  }
}

.statisticFooterContainer {
  background: var(--color-bg-image);
  background-image: url('@static/images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  @include container;
}

.statisticFooter {
  @include directionY;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.titleStatisticFooter {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-text-in-btn);

  text-align: center;
}

.btnStatisticFooter a {
  display: flex;
  background: var(--color-button);
  color: var(--color-text-in-btn);
  padding: 0.8rem 2rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: max-content;
}

.titleCard {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1.4rem;
  margin-top: 2rem;

  @include apply-at-lg-size {
    text-align: center;
  }
}

.subTitleCard {
  color: var(--color-text-2);

  @include apply-at-lg-size {
    text-align: center;
  }
}

.iconCard {
  width: 4rem;
  height: 4rem;
  background: var(--color-bg-image);
  position: absolute;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  left: 2rem;
  top: calc(-4rem / 2);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include apply-at-lg-size {
    @include directionY;
    left: calc(50% - 2rem);
  }
}

.iconCardSvg {
  width: 2rem;
  height: 2rem;
}

.boxResultShort {
  @include directionX;
  padding: 1rem 2rem;
  width: 100%;
  background: var(--color-bg);
  justify-content: space-between;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  align-items: center;
  font-size: 20px;

  @include apply-at-xxl-size {
    @include directionY;
  }
}

.resultLink {
  @include directionX;
  column-gap: 2rem;
  align-items: center;

  @include apply-at-xxl-size {
    @include directionY;
    width: 100%;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
    row-gap: 1rem;
  }
}

.resultLinkBtn {
  width: 100%;
}

.resultLinkBtnCopied {
  background: var(--color-bg-image) !important;
}

.result {
  color: var(--color-button);
  @include apply-at-sm-size {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

.inputLink {
  width: 100%;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  display: flex;
  position: relative;

  @include apply-at-xxl-size {
    padding-bottom: 1rem;

    // .inputLink::before {
    //   content: '';
    //   display: flex;
    //   width: 100%;
    //   height: 2px;
    //   background: red;
    // }
  }
}
@include apply-at-xxl-size {
  .inputLink::after {
    content: '';
    display: flex;
    width: calc(100% + 4rem);
    height: 1px;
    background: var(--color-text-2);
    position: absolute;
    left: -2rem;
    bottom: 0;
    // scale:;s
  }
}
.shortBtn {
  @include apply-at-md-size {
    padding: 0.8rem 1rem !important;
  }
}

.errorBox {
  background: red;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: var(--color-text-in-btn);
  font-weight: 700;
}

.boxIconResult {
  @include directionX;
  column-gap: 1rem;

  @include apply-at-xxl-size {
    width: 100%;
  }
}
