@import '@styles/base';

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-text-2);
}
.navbar {
  width: 100%;
  height: 12vh;
  position: fixed;
  top: 0;
  background: var(--color-bg);
  z-index: 2;
}
.addPadding {
  width: 100%;
  height: 100%;
  @include directionX;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  @include container;
  box-sizing: border-box;
}
.logo {
  width: max-content;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-text);
}

.menuLink {
  @include directionX;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 700;

  @include apply-at-lg-size {
    display: none;
  }
}

.menuLinkLeft,
.menuLinkRight {
  @include directionX;
  column-gap: 2rem;
  align-items: center;
}

.listMenuRight .signup {
  background: var(--color-button);
  color: var(--color-text-in-btn);
  padding: 0.5rem 1.2rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.menuToggle {
  display: none;

  @include apply-at-lg-size {
    display: flex;
    width: 100%;
    justify-content: end;
    column-gap: 1rem;
  }
}

.menuMobile {
  display: none;
  @include apply-at-lg-size {
    @include container;
    display: block;
    width: 100%;
    position: fixed;
    top: 12vh;
    //background: var(--color-bg);
    // background: var(--color-text);
    z-index: 2;
    right: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
}

.activeMenuMobile {
  right: 0;
}

.menuMobileContainer {
  width: 100%;
  height: 100%;
  @include directionX;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background: var(--color-bg-image);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.menuLinkMobile {
  padding: 0;
  @include directionY;
  row-gap: 1.4rem;
  text-align: center;
  width: 100%;
}

.listMenuRight .signup {
  width: 100%;
  display: flex;
  justify-content: center;
}

.boxMenuLang {
  // background: red;
  width: 100%;
  @include directionX;
  align-items: center;
  column-gap: 1rem;
}

.boxMenuRight {
  @include directionX;
  column-gap: 2rem;
}

.boxIconMenuRight {
  @include directionX;
  column-gap: 0.6rem;
}
