@import '@styles/base';

ul {
  padding: 0;
  margin: 0;
}

.footerContainer {
  width: 100%;
  @include container;
  background: var(--color-bg-footer);
}

.footer {
  @include directionX;
  width: 100%;
  column-gap: 1rem;
  padding: 4rem 0;

  align-items: start;
  column-gap: 6rem;

  @include apply-at-md-size {
    @include directionY;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }
}

.logoFooter {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-in-btn);
  width: 100%;

  @include apply-at-md-size {
    width: auto;
  }
}

.menu {
  @include directionX;
  column-gap: 6rem;
  margin-top: 0.6rem;

  @include apply-at-lg-size {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
  }

  @include apply-at-md-size {
    @include directionY;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    text-align: center;
    margin: 2rem 0;
  }
}

// .social {
//   @include directionX;
//   column-gap: 1rem;
// }

.listSocial {
  @include directionX;
  column-gap: 2rem;
  margin-top: 0.6rem;

  @include apply-at-xl-size {
    @include directionY;
    row-gap: 1rem;
  }

  @include apply-at-md-size {
    @include directionX;
    column-gap: 2rem;
  }
}

.titleFeatures,
.titleResources,
.titleCompany {
  color: var(--color-text-in-btn);
  font-weight: 700;
  margin-bottom: 1.6rem;

  @include apply-at-md-size {
    margin-bottom: 1.2rem;
  }
}

.listMenuFeatures,
.listMenuCompany,
.listMenuResources {
  @include directionY;
  row-gap: 0.5rem;
  white-space: nowrap;
}
