@import '@styles/base';

.container {
  background-image: url('@static/images/bg-desktop-light.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  @include directionX;
  align-items: center;
  justify-content: center;
  position: relative;
}
